---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Code Swap" pageTitle="Code Swap" type={"Code"}>
  <p>Au début de cette itération, au lieu de supprimer le code de l'itération précédente, vous le léguez à une autre équipe.</p>
</Rules>