---
import Center from "../../layouts/Center.astro"

const rules = await Astro.glob("./*.md")
---

<Center title="Règle">
  <section class="flex flex-col gap-4">
    {rules.map(rule => (
      <a href={rule.url}><h4>{rule.frontmatter.title}</h4></a>
      <hr />
    ))}
  </section>
</Center>