---
import Center from "../../layouts/Center.astro"

const rules = await Astro.glob("./*.md")
---

<Center title="Règle">
  <h1 class="underline decoration-sky-500 underline-offset-8">Règle</h1>
  <section class="flex flex-col gap-4 pt-12">
    {rules.map(rule => (
      <a href={rule.url}><h4>{rule.frontmatter.title}</h4></a>
      <hr />
    ))}
  </section>
</Center>