---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Mob Programming (aka. Team-Programming, Ensemble-Programming)" pageTitle="Mob" type={"Interaction"}>
  <div class="border-l-4 rounded flex flex-col gap-2 p-2 text-gray-500">
    <p>"Mettre toutes les personnes travaillant sur la même chose, au même moment dans la même pièce, sur le même ordinateur."</p>
    <p>-- Woody Zuill (traduction)</p>
  </div>
  <p>Le Mob-Programming est une approche collaborative de développement logiciel, où l'équipe entière travaille ensemble, en même temps sur la même code base. L'équipe s'organise autour de trois rôles principaux :</p>

  <ul>
    <li><strong>Le Driver</strong> est en charge d'écrire le code, et, plus généralement, d'interagir avec l'ordinateur. Il est la personne qui prend les décisions et qui est responsable du produit final.</li>
    <li><strong>Le Navigator</strong> est la personne qui formalise les décisions de l'équipe pour les transmettre au Driver.</li>
    <li><strong>Le Mobber</strong> est le rôle de tout membre de l'équipe autre que Driver et Navigator. Il est en charge de réfléchir, discuter et proposer des solutions aux problèmes actuels de l'équipe.</li>
  </ul>
</Rules>