---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Ping-Pong Pair-Programming" pageTitle="Ping-Pong Pair-Programming" type={"Interaction"}>
  <div class="border-l-4 rounded flex flex-col gap-2 p-2 text-gray-500">
    <p>Contrainte spécifique au <a href="/rules/pair-progamming">Pair-Programming</a></p>
  </div>
  <p>Le binômage dit ping-pong permet de coupler la pratique du binômage avec le TDD. Dans ce cadre, les itérations ne sont plus rythmées par le temps, mais par le cycle du TDD. Les rôles alternent à chaque fois qu’on termine une phase rouge du cycle de TDD.</p>

  <p>Exemple : Alice et Bertrand binôment.</p>

  <ul>
    <li>
      <h5>➡️ Alice est pilote, Bertrand est copilote</h5>
      <p>Alice écrit un premier test en échec et passe la main à Bertrand.</p>
    </li>
    <li>
      <h5>➡️ Les rôles alternent : Alice devient copilote, Bertrand devient pilote</h5>
      <p>Bertrand corrige le test.</p>
      <p>Bertrand effectue les refactorings nécessaires.</p>
      <p>Bertrand écrit un nouveau test en échec et passe la main à Alice.</p>
    </li>
    <li>
      <h5>➡️ Les rôles alternent : Alice devient pilote, Bertrand devient copilote</h5>
      <p>Alice corrige le test.</p>
      <p>Alice effectue les refactorings nécessaires.</p>
      <p>Le cycle recommence à partir du point 1.</p>
    </li>
  </ul>
</Rules>