---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Refactoring" pageTitle="Refactoring" type={"Code"}>
 <p>Le Refactoring ou "remaniement du code" est l'ensemble des techniques permettant de <b>modifier du code</b> sans en changer son comportement.</p>
 <p>Vous n'avez pas le droit de casser un test existant, ni de provoquer une erreur de compilation en modifiant le code qui vous a été légué.</p>
</Rules>