---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Strong Style Navigation" pageTitle="Strong Style" type={"Interaction"}>
  <div class="border-l-4 rounded flex flex-col gap-2 p-2 text-gray-500">
    <p>🔗 <a href="https://llewellynfalco.blogspot.com/2014/06/llewellyns-strong-style-pairing.html">https://llewellynfalco.blogspot.com/2014/06/llewellyns-strong-style-pairing.html</a></p>
    <p>Contrainte applicable au Pair-Programming comme au Mob-Programming</p>
  </div>
  <p>Pour transmettre une idée de votre esprit à l’ordinateur, il faut la faire transiter par les mains de quelqu’un d’autre</p>
  <ul class="list-disc pl-8">
    <li>Le Driver a toujours le clavier</li>
    <li>Le Navigator n’a pas le clavier, et formalise les décisions de l'équipe. Il donne les instructions au Driver pour que ce dernier implémente les idées du Navigator (au plus haut niveau d’abstraction permettant au Driver de travailler de manière fluide).</li>
  </ul>
  <div class="border-l-4 rounded flex flex-col gap-2 p-2 text-gray-500">
    <h6 class="font-bold">💡 Conseil</h6>
    <p>En tant que Navigator, s’exprimer avec les trois niveaux Intention/Emplacement/Détail</p>
    <p>Exemple :</p>
    <ul class="list-disc pl-8">
      <li>Intention : « Crée une variable que l'on appellera 'décompte' »</li>
      <li>Emplacement : « À la ligne 27 et demi (une nouvelle ligne entre la #27 & #28) »</li>
      <li>Détails : « Tape v,a,r espace 'décompte' égal 1 »</li>
    </ul>
  </div>
</Rules>