---
import Rules from "../../layouts/Rules.astro";
---

<Rules title="TDD As You Meant It" pageTitle="TDD As You Meant It" type={"Code"}>
  <p>Le code ne doit être généré que dans les tests.</p>
  <p>La seule manière de créer du code de production, est de pratiquer des opérations de refactoring comme l'extraction de méthodes/classes/champs/variables, etc.</p>
</Rules>