---
import { Code } from "astro:components";
import Rules from "../../layouts/Rules.astro";
---

<Rules title="Test Driven Development (TDD)" pageTitle="TDD" type={'Code'}>
  <h2>RED/GREEN/REFACTOR</h2>

  <h3>3 Règles du TDD</h3>
  <ul class="list-disc pl-8">
    <li>
      <h5>Permis de coder</h5>
      <p>Interdit d’écrire du code, sans test en échec qui prouve que ce code est nécessaire.</p>
    </li>
    <li>
      <h5>Une question à la fois</h5>
      <p>Interdit d’écrire plus d’un test en échec à la fois</p>
    </li>
    <li>
      <h5>Connaître les limites</h5>
      <p>Interdit d’écrire plus de code que nécessaire, pour faire passer le test en cours.</p>
    </li>
  </ul>
</Rules>
