---
import "../../panda.css"
import { css } from '../../styled-system/css';
---
<header>
    <h1 class={css({ textAlign: "center", })}>Hello World</h1>
</header>
<div class={css({ fontSize: "20xl", fontWeight: 'bold' })}>Hello World</div>