---
interface Props {
	rules: string[]
    number: number
}

const { rules, number } = Astro.props;
---

<h5>Itérations {number}</h5>
<ul class="list-disc pl-8">
    {rules.map(rule => (<li>{rule}</li>))}
</ul>

<style>
    h5 {
        @apply text-lg;
        @apply font-semibold;
    }
</style>