---
import { getCollection } from 'astro:content';

interface Props {
    rules: string[]
    number: number
}
const { rules, number } = Astro.props;

const rulesCollection = await getCollection('rules');

const rulesIncluded = rulesCollection.filter(rule => rules.includes(rule.id))

---

<h5>Itérations {number}</h5>
<ul class="list-disc pl-8">
    {rulesIncluded.map(rule => (
        <li>
            <a href={`/rules/${rule.id}`} class="hover:underline">
                {rule.data.title}
            </a>
        </li>
    ))}
</ul>

<style>
    h5 {
        @apply text-lg;
        @apply font-semibold;
        @apply text-primary-900 dark:text-primary-200;
    }

    li > a {
        @apply text-black dark:text-white;
    }
</style>
