---
import "../../panda.css"
import { css } from '../../styled-system/css';
import { circle, hstack, stack, center } from "../../styled-system/patterns";
---

<nav class={css({ "flexBasis": '1/2' })}>
    <a href="/">Home</a>
    <a href="/panda">Carapuce</a>
</nav>