---
import Layout from './Layout.astro';

interface Props {
  title: string
  pageTitle?: string
}

const { title, pageTitle } = Astro.props;
---

<Layout title={pageTitle ?? title}>
  <main class="flex flex-col justify-center items-center maxCenter">
    <h1 class="underline decoration-sky-500 dark:decoration-sky-400 underline-offset-8 pb-8">{title}</h1>
    <section class="max-w-[70%] flex flex-col gap-4">
      <slot/>
    </section>
  </main>
</Layout>
