---
import Image from 'astro/components/Image.astro';
import ShodoLyon from '../images/shodo/shodoLyon.jpg'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex flex-row items-center justify-between m-8">
			<a href="/" class="flex">
				<Image src={ShodoLyon} alt="Icone Shodo Lyon" height={24} width={24} />
				<span class="font-extrabold">Shodo Lyon</span>
			</a>
			<nav class="flex flex-row gap-4 font-bold">
				<a href="/events" class="page">Events</a>
				<a href="/rules" class="page">Règle</a>
			</nav>
		</header>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
	}
	h1 {
    @apply m-0;
    @apply text-5xl;
    @apply font-extrabold;
	}

	h3 {
      @apply z-20;
      @apply m-0;
      @apply text-xl;
      @apply font-bold;
    }
	
	.page {
		@apply no-underline;
		@apply hover:underline;
		@apply decoration-sky-500;
	}
</style>
