---
import Center from './Center.astro';
interface Props {
  frontmatter: {
    pageTitle: string;
    title: string;
    type: "Interaction" | "Code"
  }
	
}

const { frontmatter } = Astro.props;
---

<Center pageTitle={frontmatter.pageTitle} title={frontmatter.title}>
    <p class="tag">{frontmatter.type}</p>
    <section class="flex flex-col gap-4 rules">
      <slot />
    </section>
</Center>

<style>
  .title {
    @apply flex;
    @apply flex-col;
    @apply gap-2;
  }

  .tag {
    @apply w-min;
    @apply h-min;
    @apply bg-blue-100;
    @apply text-blue-800;
    @apply text-xs;
    @apply font-medium;
    @apply me-2;
    @apply px-2.5;
    @apply py-0.5;
    @apply rounded;
    @apply border;
    @apply border-blue-400;
  }

  .rules :global(h2) {
    @apply m-0;
    @apply text-4xl;
    @apply font-bold;
    @apply text-blue-500;
  }

  .rules :global(h5) {
    @apply m-0;
    @apply text-xl;
    @apply font-bold;
    @apply text-blue-400;
  }

  .rules :global(ul) {
    @apply list-disc;
    @apply pl-8;
  }

  .rules :global(ul > li) {
    @apply mb-4;
  }
</style>